<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0001</key>
	<string>Opening (Default)</string>
	<key>0002</key>
	<string>APEX</string>
	<key>0003</key>
	<string>Beacon</string>
	<key>0004</key>
	<string>Bulletin</string>
	<key>0005</key>
	<string>By the Seaside</string>
	<key>0006</key>
	<string>Chimes</string>
	<key>0007</key>
	<string>Circuit</string>
	<key>0008</key>
	<string>Constellation</string>
	<key>0009</key>
	<string>Cosmic</string>
	<key>0010</key>
	<string>Crystals</string>
	<key>0011</key>
	<string>Hillside</string>
	<key>0012</key>
	<string>Illuminate</string>
	<key>0013</key>
	<string>Night Owl</string>
	<key>0014</key>
	<string>Playtime</string>
	<key>0015</key>
	<string>Presto</string>
	<key>0016</key>
	<string>Radar</string>
	<key>0017</key>
	<string>Radiate</string>
	<key>0018</key>
	<string>Ripples</string>
	<key>0019</key>
	<string>Senca</string>
	<key>0020</key>
	<string>Signal</string>
	<key>0021</key>
	<string>Silk</string>
	<key>0022</key>
	<string>Slow Rise</string>
	<key>0023</key>
	<string>Stargaze</string>
	<key>0024</key>
	<string>Summit</string>
	<key>0025</key>
	<string>Twinkle</string>
	<key>0026</key>
	<string>Uplift</string>
	<key>0027</key>
	<string>Waves</string>
</dict>
</plist>
